html, body{
    height: 100%;
}

a, a:hover, a:visited {
	text-decoration:none;
	color:white;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:white;
}


body {
background-color: #9ADAFD;
}

.navbar {
margin-bottom:0px;
}

.container>.navbar-header {
margin-left:0px;
margin-right:0px;
}

.container {
padding-left:0px;
padding-right:0px;
margin-left:0px;
margin-right:0px;
}


.container-main {
height:100%;
}

.row {
height:100%;
margin-left:1px;
margin-right:1px;
padding-left:0px;
padding-right:0px;
}

.status {
text-align: center;
background-color: #333;
color: #999;
font-style: italic;
position : fixed;
left:45% ;
top: 35%;
z-index: 100;

}

.waiting {
z-index: 99;
background-color: #000;
opacity: 0.5;
width: 100%;
height: 100%;
position:fixed;
}

.huge-button {
color: white;
font-weight:bold;
margin-left:10%;
margin-right:10%;
text-align:center;
padding-top:20%;
padding-bottom:20%;
margin-left:20px;
margin-right:20px;
}

.white {
background-color: #FFF;
}

.list-item {
padding-top:1px;
padding-bottom:1px;
margin-left:1px;
margin-right:1px;
margin-top:1px;
margin-bottom:1px;
padding-left:1px;
padding-right:1px;
max-height:10em;
min-height:10em;
background-image:url(stripes.jpg);
background-repeat: repeat-x;
border-radius: 5px;
}

.col-xs-6 , .col-xs-12, .col-md-12{
padding-left:0px;
padding-right:0px;	
}

.img-item{
height: 100%;
width: 100%;
}

.test {
width: 100%;
}

.text {
position: absolute;
top:2em;
left: 1.2em;
z-index: 2;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 1.4em;
text-shadow: black 1px 2px;
}

.form-control , .form-control:focus{
border-radius: 0px;
box-shadow: inset 0 0px 0px;
border-top:0px;
border-left:0px;
border-right:0px;
border-bottom:0px;
line-height: 40px;
min-height: 40px;
color:#000;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
background-color: #FFF;
}

.line-bottom , .line-bottom:focus{
border-bottom:1px solid #CCC;
}

.whitebox {
background-color: #FFF;
}

.btn-block {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 20px;
margin-top:15px;
border-radius: 0px;
background-image: none;
border:0px;
}

.drop-zone {
border : 2px dashed #CCC;
min-height: 300px;
width:100%;
background-color: #DDD;
}

.drop-img {
width:100%;
height:100%;
}

.photo-form {
background-color: #FFF;
padding : 15px;
}

.file_upload {
position: relative;
overflow: hidden;
}

.desc-photo{
margin-top:110px;
margin-left:42%;
}

.fa-camera {
color:#999;
}

.more {
width: 100%
}