html, body{
    height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

a, a:hover, a:visited {
	text-decoration:none;
	color:white;
}

h1, h2 {
	font-weight: 400;
	color:black;
}

body {
background-color: #FFF;
}

.navbar {
margin-bottom:0px;
font-weight: 700;
}

.navbar-nav {
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom: 0px;	
}

.container-header>.navbar-header {
margin-left:0px;
margin-right:0px;
}

.container-header , .container-no-padding{
padding-top:0px;
padding-left:0px;
padding-right:0px;
margin-left:0px;
margin-right:0px;
}

.container {
padding-top:16px;
padding-left:0px;
padding-right:0px;
margin-left:0px;
margin-right:0px;
}

.container-main {
height:100%;
background-color: #80CBC4;
}

i {
font-size: 1.3em;
}

.note {
	font-size: 16px;
	color:#999;
	padding-bottom:3px;
}

.btn {
font-weight: 700;
}

.btn-bottom {
position : fixed;
bottom: 16px;
right: 16px;
z-index: 100;
font-weight:400;
}

.row {
height:100%;
margin-left:0px;
margin-right:0px;
padding-left:16px;
padding-right:16px;
}

.status {
text-align: center;
background-color: #333;
color: #999;
font-style: italic;
position : fixed;
left:45% ;
top: 35%;
z-index: 100;

}

.waiting {
z-index: 99;
background-color: #000;
opacity: 0.5;
width: 100%;
height: 100%;
position:fixed;
}

.huge-button {
color: white;
font-weight:bold;
margin-left:10%;
margin-right:10%;
text-align:center;
padding-top:20%;
padding-bottom:20%;
margin-left:20px;
margin-right:20px;
}

.white {
background-color: #FFF;
}

.list-item {
margin-top:8px;
margin-bottom:8px;
}

.item {
max-height:10em;
min-height:10em;
background-color: #80CBC4;
overflow: hidden;
}

.item-full {
max-height:50%;
background-color: #80CBC4;
overflow: hidden;
}

.col-xs-6 , .col-xs-12, .col-md-12{
padding-left:0px;
padding-right:0px;
}

.img-item{
height: 100%;
width: 100%;
}

.test {
width: 100%;
}

.text {
position: absolute;
bottom:1.2em;
left: 10%;
z-index: 2;
font-family: 'Roboto', sans-serif;
/*font-weight: 400;*/
font-size: 1.7em;
/*font-size: 24px;*/
/*text-shadow: black 1px 2px;*/
}

.text-full {
position: absolute;
bottom:0.8em;
left: 15%;
z-index: 2;
font-family: 'Roboto', sans-serif;
/*font-weight: 400;*/
font-size: 2.6em;
/*font-size: 24px;*/
/*text-shadow: black 1px 2px;*/
color:white;
}

.form-control , .form-control:focus{
border-radius: 0px;
box-shadow: inset 0 0px 0px;
border-top:0px;
border-left:0px;
border-right:0px;
border-bottom:0px;
line-height: 40px;
min-height: 40px;
color:#000;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
background-color: #FFF;
}

.line-bottom , .line-bottom:focus{
border-bottom:1px solid #CCC;
}

.whitebox {
background-color: #FFF;
}

.right {
position: relative;
float: right;
}

.right-menu {
position: relative;
float: right;
padding-right: 16px;
height: 50px;
}

.drop-zone {
border : 2px dashed #CCC;
min-height: 300px;
width:100%;
background-color: #DDD;
}

.drop-img {
width:100%;
height:100%;
}

.photo-form {
background-color: #FFF;

}

.file_upload {
position: relative;
overflow: hidden;
}

.desc-photo{
margin-top:110px;
margin-left:42%;
}

.fa-camera {
color:#999;
}

.more {
width: 100%
}