<nav class="navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">back</a>
		</div>
	</div>
</nav>

<div class="container container-main">
	<div class="row">
		<div class="col-md-12">

			<div ng-show="newReport.pictureForm" class="photo-form" ng-controller="PictureController">
				<form ng-submit="addPicture()" role="form2">
					<div class="drop-zone" ng-click="selectFile()">
					<img class="drop-img" ng-if="newReport.b64pic" ng-src="{{newReport.b64pic}}"/>
					<input type="hidden" ng-model="newPicture.idReport"/>
						<div ng-hide="newReport.b64pic" class="file_upload">
							<input type="file" ng-hide="true" ng-file-select="onFileSelect($files)" id="cameraInput" name="cameraInput" accept="image/*" ng-model="newPicture.picture">
						</div>
						<div ng-hide="newReport.b64pic" class="desc-photo">
							<i class="fa fa-camera fa-5x"></i>
						</div>
				</div>
					<input ng-hide="newReport.endOfProcess" ng-disabled="!newReport.b64pic" class="btn btn-success btn-lg btn-block" type="submit" value="Terminer"/>
					</form>
			</div>

			<form ng-locations ng-show="newReport.reportForm" ng-init="newReport.reportForm = true" ng-submit="addReport()" role="form">
				<input ng-disabled="newReport.endOfProcess" class="form-control line-bottom whitebox" type="text" placeholder="Nom" ng-model="newReport.name"/>
				<textarea ng-disabled="newReport.endOfProcess" class="form-control line-bottom whitebox" placeholder="Ajoutez un commentaire" ng-model="newReport.description"/></textarea>
				<select ng-model="newReport.location1" ng-options="item.id as item.name for item in locations" class="form-control line-bottom whitebox" ng-disabled="newReport.endOfProcess">
    				<option value="">Lieu 1</option>
				</select>
				<select ng-model="newReport.location2" ng-options="item.id as item.name for item in locations" class="form-control line-bottom whitebox" ng-disabled="newReport.endOfProcess">
    				<option value="">Lieu 2</option>
				</select>
				<input ng-disabled="newReport.endOfProcess" type="hidden" ng-model="newReport.coords"/>
				<input ng-disabled="newReport.endOfProcess" type="hidden" ng-model="newReport.datetime"/>
				<input ng-disabled="newReport.endOfProcess" type="hidden" ng-model="newReport.id"/>
				<input ng-hide="newReport.endOfProcess" class="btn btn-success btn-lg btn-block" type="submit" value="OK"/>
			<form>
		</div>
	</div>
</div>