<nav class="navbar navbar-fixed-top navbar-material-lime shadow-z-2" role="navigation">
	<div class="container-header">
		<div class="navbar-header">
			<a class="navbar-brand" href="#search"><i class="mdi-navigation-arrow-back"  style="line-height: 30px;"></i></a>
			<div class="navbar-brand title">Map</div>
		</div>
	</div>
</nav>
<div class="container" >
    <!-- <ul style="display:none;"> -->
    <ul >
        <li><strong ng-bind="eventDetected"></strong> caught in listener.</li>
    </ul> 
    <leaflet geojson="geojson" markers="markers" paths="paths" defaults="defaults" center="center" width="100%" height="100%"></leaflet>
</div>

