<nav class="navbar navbar-fixed-top navbar-material-lime shadow-z-2" role="navigation">
	<div class="container-header">
		<div class="navbar-header">
			<a class="navbar-brand" href="search"><i class="mdi-navigation-arrow-back"  style="line-height: 30px;"></i></a>
			<div class="navbar-brand title">Map</div>
		</div>
	</div>
</nav>
<div class="container" >
    <div class="map">
	    <ul style="display:none;"> 
	        <li><strong ng-bind="eventDetected"></strong></li>
	    </ul> 
	    <leaflet geojson="geojson"  markers="markers" paths="paths" defaults="defaults" center="center" width="100%" height="35%">
	    </leaflet>
    </div>
	<div class="card unic-card shadow-z-1">
		<div ng-repeat ="geo in geojson.data.features" class="mini-card">
			<a href="report/{{geo.properties.id}}">
			<div class="card-body mini-card-body">
				<div class="mini-card-left">
					{{geo.properties.name}}
					<div class="vote-button disabled voted" id="action_{{report.id}}" ng-controller="VoteController" ng-init="check" ng-click="vote(report.id)" >
						<span class="glyphicon glyphicon-star icon-action"></span><span>{{geo.properties.nb_vote}}</span> 
					</div>
					<div class="card-body-info body1">{{geo.properties.location[0].parent}} - {{geo.properties.location[0].name}}
					</div>
<!-- 					</div> -->
<!-- 					<div class="card-body-info subhead">{{report.nb_vote}} votes
					</div> -->
<!-- 					<div  class="card-body-desc body1"> -->
					<div class="card-body-info body1">{{geo.properties.description}}</div>
<!-- 					</div> -->

					<div class="card-body-info body1">Identifié le {{"2015-11-24T09:56:33.851Z" | date:"dd MMMM yyyy"}}</div>
					
				</div>
				<div class="mini-card-right">
					<div ng-show="geo.properties.picture" class="mini-img">
						<img ng-src="{{geo.properties.picture.thumbnail}}"></img>
					</div>
				</div>
			</div>
			</a>
			<hr>
		</div>
	</div>
</div>
