<nav class="navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="#">back</a>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div ng-show="loading">Chargement ....</div>
		<div ng-hide="loading">
		<div ng-repeat ="report in reports" ><a href="#report/{{report.id}}"><div class="list-item">
			{{report.name}}
		</div></a></div>
		</div>
	</div>
</div>