<nav class="navbar navbar-material-lime shadow-z-1" role="navigation">
	<div class="container-header">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><i class="mdi-navigation-arrow-back"  style="line-height: 30px;"></i></a>
			<div class="navbar-brand title">Recherche</div>
		</div>
	</div>
</nav>
<div class="container">
	<div ng-hide="loading"></div>
	<a href="#add" class="btn btn-fab btn-raised  btn-bottom btn-material-red mdi-content-add"></a>
	<div class="row">
		<div ng-repeat ="report in reports" class="col-xs-12 card shadow-z-2">
			<div class="list-item">
			<a href="#report/{{report.id}}">
				<div class="item material-lime-300">
					<div class="text display1">{{report.name}}</div>
						<div class="img-item">
							<img ng-show="report.picture" ng-src="{{report.picture}}"></img>
							
						</div>
				</div>
			</a>
			</div>
			<div class="card-body">
				<div class="card-body-info subhead">{{report.location.parent}} - {{report.location.name}}
				</div>
				<div  class="card-body-desc">{{report.description}}
				</div>
				</div>
				<hr>
				<div class="card-body-actions"><a href="" class="button btn btn-material-lime btn-flat btn-primary">CONFIRM</a>
			</div>
		</div>
<!-- 	<div ng-click="moreReports(lastid)" id="more" class="more btn btn-default btn-lg">Plus d'incidents</div>
 -->	
	</div>
</div>